fastapi==0.139.2
pydantic==2.13.4
pymongo==4.17.0
python-dotenv==1.2.2
uvicorn==0.51.0
python-multipart==0.0.32
numpy==2.5.1
ffmpeg-python==0.2.0
dlib==20.0.1
opencv-python==5.0.0.93
torch==2.13.0
torchvision==0.28.0
